@import 'application';

%drop-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#notes-container {
    @extend %drop-shadow;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    background-color: $primary-color;
    display: flex;
    padding: 3% 2%;

    >div {
        @extend %drop-shadow;
        margin: 0 1.5%;
    }

    color: $darkest-color;
}

#note-list {
    @extend %drop-shadow;
    height: 100%;
    width: 23%;
    background-color: $lighter-color;
    padding: 0 0.5%;
    padding-bottom: 0;

    display: flex;

    >div {
        margin: 5% 2%;
    }
}

#note-list-elements {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
}

#button-list {
    > button{
        background-color: $primary-color;
        font-size: x-large;
        border: none;
        color: $darkest-color;
        cursor: pointer;
        padding: 0.1em 0.4em;
        border-radius: 3px;
        margin-top: 75%;
    }
}

#button-list > button:hover {
    background-color: $darker-color;
    transition: all 150ms ease-in;
}